---
---

@import 'bourbon/bourbon';

$resolution-treshold: 1140px;

@mixin hide-small-screen { @media(max-width: $resolution-treshold) { display: none; } }
@mixin hide-large-screen { @media(min-width: $resolution-treshold + 1) { display: none; } }

html {
    font-size: 62.5%;

    @media(max-width: 320px) { font-size: 45%; }
}

hr {
    border: none;
    font-size: 1.0em;
    letter-spacing: .3em;
    text-align: center;

    &:before { content: '.......................'; }
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.75em;
    margin: .35em .75em;
}

h3 { font-size: 1.3em; }

p { line-height: 2em; }

.container { &:after { clear: both; } }

.sidebar {
    @include box-sizing (border-box);
    @include hide-small-screen;

    padding: .75em .3em;
    text-align: center;

    float: left;
    overflow-y: scroll;
    position: fixed;
    height: 100%;
    width: 30%;

    &.fold {
        width: 5%;

        h1,
        img,
        p,
        ul { display: none; }
    }

    .toggle {
        border: none;
        width: 43px;
    }

    h1 { margin: .3em 0; }

    img {
        $border-radius: 500px;

        @include border-top-radius ($border-radius);
        @include border-bottom-radius ($border-radius);
        @include border-left-radius ($border-radius);
        @include border-right-radius ($border-radius);

        height: 5em;
        width: 5em;
    }

    p { font-size: .6em; }

    .social-links {
        margin: .3em;

        a { font-size: 3em; }
    }
}

.topbar {
    @include hide-large-screen;

    text-align: center;

    img, p, ul { display: none; }

    height: 3em;
}

.bottombar {
    @include hide-large-screen;

    p {
        font-size: .7em;

        margin: 0;
        padding: 1em;

        text-align: center;
    }

    .social-links {
        a { font-size: 6em; }
    }
}

main {
    font-size: .75em;
    margin: 0 auto;
    text-align: center;

    @mixin split {
        @include box-sizing (border-box);

        padding: 2em 3em;
        float: right;
        width: 70%;
    }

    @mixin only {
        float: none;
        padding: 2em 0 2em 5%;
    }

    &.only { @include only; }

    @media(max-width: $resolution-treshold) { @include only; }
    @media(min-width: $resolution-treshold + 1) { @include split; }
}

.stream {
    text-align: inherit;

    .post {
        .title {
            time {
                display: inline-block;
                font-size: .4em;
                vertical-align: middle;
            }
        }

        .tldr {
            margin: 0 2em;
            text-align: inherit;
        }
    }
}

.container > footer {
    text-align: justify;

    margin-top: 2.5em;

    p {
        margin: 0;
        padding: 1em 0;
    }
}

.social-links {
    margin: 0 auto;
    padding-left: 0;
    text-align: center;

    li {
        display: inline;
        margin: .25em;
    }
}

.post {
    @media(max-width: 320px) { padding: .35em; }

    header {
        text-align: center;

        margin-bottom: 1.5em;

        .date { margin: 0; }

        .tldr {
            padding: .35em;

            display: inline-block;

            &:before {
                content: 'tl;dr: ';
                margin-right: .35em;
            }
        }
    }

    img {
        text-align: center;

        display: block;
        margin: 20px auto;
        width: 80%;
    }

    .comments { margin-top: 2em; }

    p { text-align: justify; }
}

.highlight {
    font-size: .8em;

    padding: .35em .75em;
    text-align: left;
}

blockquote {
    border-left-width: .1em;
    border-left-style: solid;
    padding: .5em 1em;

    margin-left: 0;
    margin-right: 0;
    quotes: "\201C" "\201D";

    &:after { content: close-quote; }
    &:before {
        content: open-quote;
        position: relative;
        left: 0;
        top: 0;
    }
}

.languages {
    padding: 0;

    li {
        display: inline;

        line-height: 2em;
    }
}

.contact-links {
    list-style: none;

    padding: 0;
}
