body {
  background-image: url("/img/feathers.png");
}

.container {
  max-width: 40em;
  margin: 0 auto;
  font-family: Georgia, sans-serif;
}

a {
    color: #a00;
    text-decoration: none;
}

a:hover, a:active {
    background-color: #a00;
    color: #fff;
}

p {
  line-height: 1.4em;
}

ul.languages {
  padding: 0;
}

ul.languages li {
  display: inline;
}
