body {
  /*background-color: #f8f8f8;*/
  background-image: url("/img/bg.png");
}

.container {
  max-width: 640px%;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Georgia, sans-serif;
}

a {
  color: #aa0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.4em;
}

ul.languages {
  padding: 0;
}

ul.languages li {
  display: inline;
}
