body {
    background-image: url("/img/feathers.png");
    background-color: #fff;
    border-top: 10px solid #a00;
    box-shadow: inset 0px 10px 1em 0px #a88;
    font-size: 17px;
    font-family: Verdana, sans-serif;
}

a {
    color: #a00;
    text-decoration: none;
}

a:hover, a:active {
    background-color: #a00;
    color: #fff;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
}

hr {
    margin: 20px 0 25px 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    color: #a00;
    border: none;
}

hr:before {
    content: '.......................';
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 45em;
}

.fs {
    font-size: 4em;
    margin: 10px 0 30px 0;
    text-align: center;
}

.fs a:hover {
    background-color: inherit;
}

.fs a {
    color: #a00;
    text-decoration: none;
}

.about {
    font-weight: lighter;
    line-height: 2em;
    text-align: center;
    padding: 10px 30px;
}

.stream {
    margin: 20px 0;
}


.stream h1 {
    color: #a00;
    text-align: center;
}

.stream p {
    text-align: justify;
}

.container > footer {
    font-size: 0.8em;
    border-top: 1px solid #a00;
    margin-top: 70px;
    line-height: 2em;
    text-align: center;
}

.container > footer p {
    margin: 0;
    padding: 1em 0;
}

.social-links {
    font-size: 10em;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 50px;
    text-align: center;
}

@media(max-width: 700px) {
    .social-links {
        font-size: 4.9em;
    }
}

.social-links li {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.social-links .twitter  a:hover { color: #2eb8e7; }
.social-links .github   a:hover { color: #286da3; }
.social-links .feed     a:hover { color: #ff5500; }
.social-links .linkedin a:hover { color: #286da3; }

article header {
    font-weight: lighter;
}

article header .tldr {
    font-size: 130%;
    /*background-color: #ff89b4;*/
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 30px 0;
}

article header .tldr:before {
    content: 'tl;dr';
    margin-right: 10px;
}

article .highlight {
    background-color: #fff;
    padding: 10px 20px;
}

article p {
    line-height: 1.5em;
}

article blockquote {
    margin-left: 0;
    padding: 5px 25px;
    padding-right: 0;
    border-left: 2px solid red;
    color: #999;
}

@font-face {
    font-family: "Entypo";
    src: url("/fonts/entypo.ttf");
}

@font-face {
    font-family: "Entypo Social";
    src: url("/fonts/entypo-social.ttf");
}

.icon {
    color: #000;
}

.icon:hover {
    color: #a00;
    background-color: inherit;
}

.entypo {
    font-family: "Entypo";
}

.entypo-social {
    font-family: "Entypo Social";
}
