body {
    background-color: #faf4f1;
    font-size: 17px;
    font-family: Verdana, sans-serif;
}

a {
    color: #3bb3b1;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
}

a:hover, a:active {
    background-color: #3bb3b1;
    color: #fff;
}

p {
    line-height: 1.5em;
}

hr {
    margin: 20px 0 25px 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    color: #3bb3b1;
    border: none;
}

hr:before {
    content: '.......................';
}

h1 {
    color: #fff;
    font-size: 4em;
    margin: 0 0 30px 0;
    text-align: center;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    color: #3bb3b1;
}

h2 a:hover, h3 a:hover, .social-links a:hover {
    text-shadow: #6b5f5d -3px 3px 10px;
    background-color: inherit;
    color: inherit;
}

.banner {
    /*background-image: -webkit-linear-gradient(-90deg, #3bb3b1, #800);
    background-image:    -moz-linear-gradient(-90deg, #3bb3b1, #800);
    background-image:     -ms-linear-gradient(-90deg, #3bb3b1, #800);
    background-image:      -o-linear-gradient(-90deg, #3bb3b1, #800);
    background-image:         linear-gradient(-90deg, #3bb3b1, #800);*/
    background-color: #3bb3b1;
    box-shadow: 0 10px 1em 0 #6b5f5d;
}

.about {
    font-weight: lighter;
    line-height: 2em;
    text-align: center;
    padding: 0 30px;
}

.content {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 45em;
}

.stream {
    margin: 20px 0;
}

.stream p {
    text-align: justify;
}

.container > footer {
    font-size: 0.8em;
    border-top: 1px solid #3bb3b1;
    margin-top: 70px;
    text-align: center;
    background-color: #f2ece9;
    padding: 0 1.5em;
}

.container > footer p {
    margin: 0;
    padding: 1em 0;
    line-height: 2em;
}

.social-links {
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
}

.social-links li {
    margin: 0 2em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.social-links li .icon {
    font-size: 10em;
}

@media(max-width: 700px) {
    .social-links li {
        margin: 0 1em;
    }

    .social-links li .icon {
        font-size: 5em;
    }
}

.social-links .twitter  a:hover { color: #2eb8e7; }
.social-links .github   a:hover { color: #286da3; }
.social-links .feed     a:hover { color: #ff5500; }
.social-links .linkedin a:hover { color: #286da3; }
.social-links .mail     a:hover { color: #aa0000; }

article header {
    font-weight: lighter;
}

article header .tldr {
    font-size: 130%;
    background-color: #6b5f5d;
    color: #fff;
    padding: 10px;
    margin: 30px 0;
}

article header .tldr:before {
    content: "tl;dr";
    margin-right: 10px;
}

article .highlight {
    background-color: #fff;
    padding: 10px 20px;
}

article blockquote {
    margin-left: 0;
    padding: 5px 25px;
    padding-right: 0;
    border-left: 2px solid red;
    color: #999;
}

@font-face {
    font-family: "Entypo";
    src: url("/fonts/entypo.ttf");
}

@font-face {
    font-family: "Entypo Social";
    src: url("/fonts/entypo-social.ttf");
}

.icon {
    color: #000;
}

.icon:hover {
    color: #3bb3b1;
    background-color: inherit;
}

.entypo {
    font-family: "Entypo";
}

.entypo-social {
    font-family: "Entypo Social";
}

ul.languages {
    padding: 0;
}

ul.languages li {
    display: inline;
}
