$primary-color:   #a00;
$secondary-color: #6b5f5d;

body {
    background-color: #faf4f1;
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
    background: transparent url("/img/bg.png") repeat scroll top left;
}

a {
    color: $primary-color;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;

     &:hover, &:active {
         background-color: $primary-color;
         color: #fff;
     }
}

p { line-height: 1.5em; }

hr {
    margin: 20px 0 25px 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    color: $primary-color;
    border: none;

    &:before { content: '.......................'; }
}

h1 {
    color: #fff;
    font-size: 4em;
    margin: 0 0 30px 0;
    text-align: center;

    &:hover { text-shadow: 5px 5px 30px #000; };

    a {
        color: #fff;
        text-decoration: none;

        &:hover { background-color: inherit; };
    }
}

h2 {
    font-size: 2.5em;
    color: $primary-color;
}

h3 {
   font-size: 1.6em;
   color: $secondary-color;
}

h2, h3 {
    a {
        &:hover {
            text-shadow: $secondary-color -3px 3px 10px;
            background-color: inherit;
            color: inherit;
        }
    }
}

.banner {
    background-color: $primary-color;
    background-image: -webkit-linear-gradient(90deg, #a00, #f00);
    box-shadow: 0 10px 1em $secondary-color;
}

.about {
    font-weight: lighter;
    line-height: 2em;
    text-align: center;
    padding: 0 30px;
}

.content {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 45em;
}

.stream {
    margin: 20px 0;

    p { text-align: justify; }
}

.container > footer {
    background-color: $primary-color;
    background-image: -webkit-linear-gradient(90deg, #000, #333);
    color: #fff;
    border-top: 1px solid $primary-color;
    margin-top: 70px;
    font-size: 0.8em;
    padding: 0 1.5em;
    text-align: center;

    box-shadow: 0 -2px 1em #a00;

    a {
        color: #a00;

        &:hover { background-color: #fff; }
        &.icon:hover { background-color: inherit; }
    }

    p {
        margin: 0;
        padding: 1em 0;
        line-height: 2em;
    }
}

.social-links {
    margin: 0 auto;
    padding-left: 0;
    text-align: center;

    li {
        margin: 0 2em;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        .icon { font-size: 10em; }
    }

    .twitter  a:hover { color: #2eb8e7; }
    .github   a:hover { color: #286da3; }
    .feed     a:hover { color: #ff5500; }
    .linkedin a:hover { color: #015A86; }
    .mail     a:hover { color: #ffffff; }

}

@media(max-width: 700px) {
    .social-links li {
        margin: 0 1em;

        .icon { font-size: 5em; }
    }

}

article {
    padding: 10px;

    header {
        font-weight: lighter;
        text-align: center;
        margin-bottom: 4em;

        .tldr {
            font-size: 130%;
            background-color: #888;
            color: #fff;
            padding: 10px;

            &:before {
                content: "tl;dr";
                margin-right: 10px;
            }
        }
    }

    .highlight {
        background-color: #fff;
        padding: 10px 20px;
    }

    blockquote {
        margin-left: 0;
        padding: 5px 25px;
        padding-right: 0;
        border-left: 2px solid red;
        color: #999;
    }

    p { font-size: 1.1em; }
}

@font-face {
    font-family: "Entypo";
    src: url("/fonts/entypo.ttf");
}

@font-face {
    font-family: "Entypo Social";
    src: url("/fonts/entypo-social.ttf");
}

.entypo {
    font-family: "Entypo";
}

.entypo-social {
    font-family: "Entypo Social";
}

ul.languages {
    padding: 0;

    li { display: inline; }
}
