$primary-color:   #a00;
$secondary-color: #6b5f5d;

html { font-size: 62.5% }

body {
    background-color: #f1e8cc;
    font-size: 2.4rem;
    font-family: 'Open Sans', Verdana, sans-serif;
    background: transparent url(/img/bg.png) repeat scroll top left;
    font-weight: lighter;
}

a {
    color: $primary-color;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;

     &:hover, &:active {
         background-color: $primary-color;
         color: #fff;
     }
}

hr {
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 2.0rem;
    color: $primary-color;
    border: none;

    &:before { content: '.......................'; }
}

@mixin h {
    font-weight: lighter;

    a {
        color: inherit;
        background-color: inherit;

        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
}

h1 {
    color: #fff;
    background-color: $primary-color;
    font-size: 9.6rem;
    margin: 0;
    text-align: center;
    @include h;
}

h2 {
    font-size: 6.0rem;
    color: $primary-color;
    text-align: center;
    margin: 0.35em 0.75em;
}

h3 {
    font-size: 4.0rem;
    color: $secondary-color;
}

h2, h3 {
    @include h;

    a { text-shadow: $secondary-color -0.05em 0.05em 0.15em;}
}

.about {
    line-height: 2em;
    text-align: center;
}

.content {
    padding: 0 0.75em;
    margin: 0 auto;
    max-width: 45em;
}

.stream {
    h2 { text-align: left; }
    p { text-align: justify; }
}

.container > footer {
    color: #fff;
    margin-top: 2em;
    text-align: center;

    background-color: $primary-color;

    box-shadow: 0 -0.1em 1em $primary-color;

    a {
        color: #999;

        &:hover { background-color: #000; }
        &.icon { color: #ddd; }
        &.icon:hover { background-color: inherit; }
    }

    p {
        margin: 0;
        padding: 1em 0;
        line-height: 2em;
    }
}

.social-links {
    margin: 0 auto;
    padding-left: 0;
    text-align: center;

    li {
        margin: 0 2em;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        .icon { font-size: 24rem; }
    }

    .twitter  a:hover { color: #2eb8e7; }
    .github   a:hover { color: #286da3; }
    .feed     a:hover { color: #ff5500; }
    .linkedin a:hover { color: #015A86; }
    .mail     a:hover { color: #000000; }
}

article {
    text-align: justify;

    header {
        text-align: center;
        margin-bottom: 3em;

        .tldr {
            font-size: 3.0rem;
            background-color: #bdc;
            color: #555;
            padding: 0.35em;
            display: inline-block;

            &:before {
                content: 'tl;dr';
                margin-right: 0.35em;
            }
        }
    }

    p {
        font-size: 3rem;
        line-height: 1.5em;
    }

    .comments { margin-top : 2em; }
}

.highlight {
    background-color: #fff;
    padding: 0.35em 0.75em;
}

code { font-family: Inconsolata, Monaco, Menlo, monospace, serif; }

blockquote {
    margin-left: 0;
    padding: 0.5em 1em;
    border-left: 0.1em solid $primary-color;
    color: #999;
}

.entypo { font-family: 'Entypo'; }

.entypo-social { font-family: 'Entypo Social'; }

ul.languages {
    padding: 0;

    li { display: inline; }
}

@media(max-width: 768px) {
    .social-links li { margin: 0 1em; }
}

@media(max-width: 320px) {
    .about { padding: 1em; }

    article { padding: 0.35em; }

    .social-links li {
        margin: 0 0.5em;

        .icon { font-size: 8.5rem; }
    }

}
