html {
  font-size: 62.5%; }

body {
  background-color: #f1e8cc;
  font-size: 2.4rem;
  font-family: 'Open Sans', Verdana, sans-serif;
  background: transparent url(/img/bg.png) repeat scroll top left;
  font-weight: lighter; }

a {
  color: #aa0000;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }
  a:hover, a:active {
    background-color: #aa0000;
    color: #fff; }

p {
  line-height: 1.5em; }

hr {
  margin: 20px 0 25px 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.0rem;
  color: #aa0000;
  border: none; }
  hr:before {
    content: '.......................'; }

h1 {
  color: #fff;
  background-color: #aa0000;
  font-size: 9.6rem;
  margin: 0;
  text-align: center;
  font-weight: lighter; }
  h1 a {
    color: inherit;
    background-color: inherit; }
    h1 a:hover {
      color: inherit;
      background-color: inherit; }

h2 {
  font-size: 6.0rem;
  color: #aa0000;
  text-align: center;
  margin: 0.3em 0.8em; }

h3 {
  font-size: 4.0rem;
  color: #6b5f5d; }

h2, h3 {
  font-weight: lighter; }
  h2 a, h3 a {
    color: inherit;
    background-color: inherit; }
    h2 a:hover, h3 a:hover {
      color: inherit;
      background-color: inherit; }
  h2 a:hover, h3 a:hover {
    text-shadow: #6b5f5d -3px 3px 10px; }

.about {
  line-height: 2em;
  text-align: center;
  padding: 0 30px; }

.content {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 45em; }

.stream {
  margin: 20px 0; }
  .stream h2 {
    text-align: left; }
  .stream p {
    text-align: justify; }

.container > footer {
  color: #fff;
  margin-top: 70px;
  text-align: center;
  background-color: #aa0000;
  box-shadow: 0 -2px 1em #aa0000; }
  .container > footer a {
    color: #999; }
    .container > footer a:hover {
      background-color: #000; }
    .container > footer a.icon {
      color: #ddd; }
    .container > footer a.icon:hover {
      background-color: inherit; }
  .container > footer p {
    margin: 0;
    padding: 1em 0;
    line-height: 2em; }

.social-links {
  margin: 0 auto;
  padding-left: 0;
  text-align: center; }
  .social-links li {
    margin: 0 2em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .social-links li .icon {
      font-size: 24rem; }
  .social-links .twitter a:hover {
    color: #2eb8e7; }
  .social-links .github a:hover {
    color: #286da3; }
  .social-links .feed a:hover {
    color: #ff5500; }
  .social-links .linkedin a:hover {
    color: #015A86; }
  .social-links .mail a:hover {
    color: #000000; }

@media (max-width: 768px) {
  .social-links li {
    margin: 0 1em; } }
@media (max-width: 320px) {
  section.content {
    padding: 0; }

  .social-links li {
    margin: 0 0.5em; }
    .social-links li .icon {
      font-size: 8.4rem; } }
article {
  padding: 10px;
  text-align: justify; }
  article header {
    text-align: center;
    margin-bottom: 4em; }
    article header .tldr {
      font-size: 3.0rem;
      background-color: #bdc;
      color: #555;
      padding: 10px;
      display: inline-block; }
      article header .tldr:before {
        content: 'tl;dr';
        margin-right: 10px; }
  article .comments {
    margin-top: 50px; }

.highlight {
  background-color: #fff;
  padding: 10px 20px; }

code {
  font-family: Inconsolata, Monaco, Menlo, monospace, serif; }

blockquote {
  margin-left: 0;
  padding: 5px 25px;
  padding-right: 0;
  border-left: 2px solid #aa0000;
  color: #999; }

.entypo {
  font-family: 'Entypo'; }

.entypo-social {
  font-family: 'Entypo Social'; }

ul.languages {
  padding: 0; }
  ul.languages li {
    display: inline; }
