$primary-color:   #a00;
$secondary-color: #6b5f5d;

body {
    background-color: #f1e8cc;
    font-size: 1.5em;
    font-family: 'Open Sans', Verdana, sans-serif;
    background: transparent url(/img/bg.png) repeat scroll top left;
    font-weight: lighter;
}

a {
    color: $primary-color;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;

     &:hover, &:active {
         background-color: $primary-color;
         color: #fff;
     }
}

p { line-height: 1.5em; }

hr {
    margin: 20px 0 25px 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    color: $primary-color;
    border: none;

    &:before { content: '.......................'; }
}

@mixin h {
    font-weight: lighter;

    a {
        color: inherit;
        background-color: inherit;

        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
}

h1 {
    color: #fff;
    background-color: $primary-color; 
    font-size: 4em;
    margin: 0;
    text-align: center;
    @include h;
}

h2 {
    font-size: 2.5em;
    color: $primary-color;
    text-align: center;
    margin: 0.8em;
}

h3 {
    font-size: 1.6em;
    color: $secondary-color;
}

h2, h3 {
    @include h;

    &:hover { text-shadow: $secondary-color -3px 3px 10px; }
}

.about {
    line-height: 2em;
    text-align: center;
    padding: 0 30px;
}

.content {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 45em;
}

.stream {
    margin: 20px 0;

    h2 { text-align: left; }
    p { text-align: justify; }
}

.container > footer {
    color: #fff;
    margin-top: 70px;
    text-align: center;

    background-color: $primary-color;

    box-shadow: 0 -2px 1em $primary-color;

    a {
        color: #999;

        &:hover { background-color: #000; }
        &.icon { color: #ddd; }
        &.icon:hover { background-color: inherit; }
    }

    p {
        margin: 0;
        padding: 1em 0;
        line-height: 2em;
    }
}

.social-links {
    margin: 0 auto;
    padding-left: 0;
    text-align: center;

    li {
        margin: 0 2em;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        .icon { font-size: 10em; }
    }

    .twitter  a:hover { color: #2eb8e7; }
    .github   a:hover { color: #286da3; }
    .feed     a:hover { color: #ff5500; }
    .linkedin a:hover { color: #015A86; }
    .mail     a:hover { color: #ffffff; }
}

@media(max-width: 768px) {
    .social-links li { margin: inherit 1em; }
}

@media(max-width: 320px) {
    .social-links li {
        margin: 0 0.5em;

        .icon { font-size: 3.5em; }
    }

}

article {
    padding: 10px;
    text-align: justify;

    header {
        text-align: center;
        margin-bottom: 4em;

        .tldr {
            font-size: 130%;
            background-color: #888;
            color: #fff;
            padding: 10px;
            display: inline-block;

            &:before {
                content: 'tl;dr';
                margin-right: 10px;
            }
        }
    }

    .highlight {
        background-color: #fff;
        padding: 10px 20px;
    }

    blockquote {
        margin-left: 0;
        padding: 5px 25px;
        padding-right: 0;
        border-left: 2px solid red;
        color: #999;
    }

    p { font-size: 1.1em; }
}

.entypo {
    font-family: 'Entypo';
}

.entypo-social {
    font-family: 'Entypo Social';
}

ul.languages {
    padding: 0;

    li { display: inline; }
}
