---
---
@import 'bourbon/bourbon';

$primary-color:   #50a0a6;
$secondary-color: #b82a38;

$email-color: $secondary-color;
$feed-color: #f50;
$github-color: #b7b7b8;
$linkedin-color: #015a86;
$socareers-color: #fd8808;
$twitter-color: #2eb8e7;

@mixin invert-colors-on-hover($color: $secondary-color) {
    @include transition (.5s);

    color: $color;
    text-decoration: none;

    &:hover, &:active {
        background-color: $color;
        color: #fff;
    }
}

@mixin glowing-links {
    a {
        color: $secondary-color;

        &:hover {
            color: $secondary-color;
            text-shadow: $secondary-color -.05em .05em .15em;
        }
    }
}

@mixin reset-links {
    a {
        background-color: inherit;
        color: inherit;

        &:hover, &:active, &:focus {
            background-color: inherit;
            color: inherit;
            cursor: pointer;
        }
    }
}

html {
    * { color-profile: sRGB;
    };
}

body {
    background: url(/images/bg.png) repeat scroll top left #eee ;
    font: lighter normal 3rem 'Open Sans', Verdana, sans-serif;
}

a {
    @include invert-colors-on-hover($secondary-color);
}

hr { color: $primary-color; }

h1,
h2,
h3,
.social-links { @include reset-links; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: lighter; }

img { @include reset-links; }

p { line-height: 2em; }

strong { font-weight: normal; }

.sidebar { @include transition (1s); }

.sidebar,
.topbar,
.bottombar {
    color: #333;

    h1 { color: #fff; }

    .avatar { @include reset-links; }

    .toggle {
        @include reset-links;
        @include glowing-links;
    }

    background-color: $primary-color;
}

.social-links {
    li { -webkit-font-smoothing: antialiased; }

    .feed {
        a:hover { color: $feed-color; }
    }

    .email {
        a:hover { color: $email-color; }
    }

    .github {
        a:hover { color: $github-color; }
    }

    .linkedin {
        a:hover { color: $linkedin-color; }
    }

    .twitter {
        a:hover { color: $twitter-color; }
    }
}

.post {
    header .tldr {
        background-color: #bdc;
        color: #555;
    }
}

.post,
.resume {
    h1 { color: $secondary-color; }
    h2 { color: $primary-color; }

    h1,
    h2 { @include glowing-links; }
}

.highlight {
    background-color: #fff;
}

code {
    font-family: Inconsolata, Monaco, Menlo, monospace, serif;
}

blockquote {
    border-left-color: $primary-color;

    color: #999;
}

.contact-links {
    .email     { @include invert-colors-on-hover($email-color); }
    .github    { @include invert-colors-on-hover($github-color); }
    .linkedin  { @include invert-colors-on-hover($linkedin-color); }
    .socareers { @include invert-colors-on-hover($socareers-color); }
    .twitter   { @include invert-colors-on-hover($twitter-color); }

    li {
        @include reset-links;

        display: inline;

        &::after { content: '•'; }

        &:last-child::after { content: ''; }
    }
}
