---
layout: default
---
<p class="about">
  Hello comrade!<br>
  My name is <strong>Fuad Saud</strong> and I'm an average frood,<br>
  living in the nonsensical weather of south Brazil.<br>
  I hack software <a href="//github.com/fuadsaud" target="_blank">for fun</a>
  as well as <a href="//avela.me" target="_blank">for living</a>.<br>
  We should probably talk, so ping me on
  <a href="//twitter.com/fuadsaud" target="_blank">twitter</a>!
</p>

<p class="about">
  I write some random stuff in this blog.<br>You should probably check it out:
</p>

<section class="stream">
  {% for post in site.posts %}
    {% if post.published %}
      <hr>
      <article>
        <h2 class="title">
          <a href="{{ post.url }}">
            {{ post.title }}<br>{% include date.html %}
          </a>
        </h2>

        <p class="tldr">{{ post.tldr }}</p>
      </article>
    {% endif %}
  {% endfor %}
</section>
