---
layout: default
---
<p class="about">
    Hello comrade!<br>
    My name is <strong>{{ site.author.name }}</strong> and I'm an average guy<br>
    living in {{ site.author.location }}.<br>
    I build money machines at <a href="https://nubank.com.br" target="_blank">Nubank</a>;
    and spend plenty of time ~~- actually more than I should~~ talking absolutely important stuff
    <a href="{{ site.author.links.twitter }}" target="_blank">on twitter</a> So feel free to hit
    me up and have some good banter!
</p>

<hr>

<p class="about">
    I used to write some random, tech stuff on this blog, but I have been too lazy recently<br>:
</p>

<section class="stream">
    <section class="post">
        <h1 class="title">
            <a href="https://medium.com/codeminer-42/writing-custom-railsadmin-actions-e0799aadc8ae#.mxx922i3r">
                Writing custom RailsAdmin actions<br>
            </a>
        </h1>
    </section>

    {% for post in site.posts %}
        {% if post.published %}
            <hr>
            <section class="post">
                <h1 class="title">
                    <a href="{{ post.url }}">
                        {{ post.title }}<br>{% include date.html %}
                    </a>
                </h1>

                {% if post.tldr %}
                    <p class="tldr">{{ post.tldr }}</p>
                {% endif %}
            </section>
        {% endif %}
    {% endfor %}
</section>
