/* @font-face { */
/*   font-family: 'longhaul'; */
/*   src: url('./longhaul/Longhaul.ttf') format('truetype'), */
/*        url('./longhaul/longhaul-webfont.woff') format('woff'); */
/* } */

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@font-face {
  font-family: 'Big John';
  src: url('./fonts/bjsj/big-john.otf') format('opentype');
}

/* @font-face { */
/*   font-family: 'Slim Joe'; */
/*   src: url('./bjsj/slim-joe.otf') format('opentype'); */
/* } */

html {
  font-size: 10px;
}

body {
  font-family: 'Big John', sans-serif;
  background-color: #dafff0;
}

a {
  color:  #333333;
}

.container {
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;

  text-align: center;
}

.hero {
  font-size: 18em;
  color: #fedede;
  color: #333333;
  text-shadow: 10px 9px #fedede;
  /* text-shadow: 10px 9px #dafff0; */
}

.bio {
  font-size: 3em;
}

.refs {
  padding: 0;

  list-style: none;
  font-family: 'Anonymous Pro', monospace;
  font-size: 3em;
}

.refs li {
  display: inline;
}

.refs li a:hover {
  background-color: #fedede;
}

.refs li a:visited {
  color: rgb(63, 81, 181);
}

@media only screen and (min-device-width : 480px) {
  .hero-container {
    margin-top: 150px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html {
    font-size: 6px;
  }

  body {
    background-color: rgb(63, 81, 181);
    color: #ffffff;
  }

  .hero {
    color: #333333;
  }

  a {
    color:  #ffffff;
  }

  .refs li a:hover {
    background-color: #fedede;
    color: #333333;
  }

  .refs li a:visited {
    color: #bbbbbb;
  }
}
