@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

@font-face {
  font-family: "Big John";
  src: url("./fonts/bjsj/big-john.otf") format("opentype");
}

:root {
  font-size: 1.5vmin;

  --color-green: #dafff0;
  --color-dark-grey: #333333;
  --color-light-grey: #bbbbbb;
  --color-beige: #fedede;
  --color-coral: #fa9ba9;
  --color-white: #ffffff;
  --color-light-blue: #4287f5;
  --color-dark-blue: #3f51b5;

  --font-family-sans-serif: "Big John", sans-serif;
  --font-family-monospace: "Anonymous Pro", monospace;
}

body {
  font-family: var(--font-family-sans-serif);
  background-color: var(--color-surface);
  color: var(--color-content-main);
  min-height: 100vh;
  width: 100vw;
}

a {
  color: var(--color-content-main);
}

a:hover {
  background-color: var(--color-accent);
  color: var(--color-content-contrast);
}

a:visited {
  color: var(--color-content-visited);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem;
  height: 100vh;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.title {
  font-size: 18rem;
  color: var(--color-content-title);
  text-align: center;
  text-shadow: 10px 9px var(--color-beige);
}

.bio {
  font-size: 3rem;
  text-align: center;
}

.outlinks ul {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--font-family-monospace);
  font-size: 3rem;
}

/*
 * NOTE: Green
 */
@media (1024px <= height) {
  :root {
    --color-surface: var(--color-green);
    --color-accent: var(--color-coral);
    --color-content-main: var(--color-dark-grey);
    --color-content-contrast: var(--color-dark-grey);
    --color-content-visited: var(--color-dark-blue);
    --color-content-title: var(--color-dark-grey);
  }
}

/*
 * NOTE: Pink
 */
@media (768px <= height < 1024px) {
  :root {

    --color-surface: var(--color-coral);
    --color-accent: var(--color-beige);
    --color-content-main: var(--color-white);
    --color-content-contrast: var(--color-dark-grey);
    --color-content-visited: var(--color-dark-blue);
    --color-content-title: var(--color-dark-grey);
  }
}

/*
 * NOTE: Blue
 */
@media (360px <= height < 768px) {
  :root {

    --color-surface: var(--color-dark-blue);
    --color-accent: var(--color-beige);
    --color-content-main: var(--color-white);
    --color-content-contrast: var(--color-dark-grey);
    --color-content-visited: var(--color-light-grey);
    --color-content-title: var(--color-dark-grey);
  }
}

/*
 * NOTE: Beige
 */
@media (height < 400px) {
  :root {
    --color-surface: var(--color-beige);
    --color-accent: var(--color-blue);
    --color-content-main: var(--color-dark-grey);
    --color-content-contrast: var(--color-dark-grey);
    --color-content-visited: var(--color-dark-blue);
    --color-content-title: var(--color-dark-grey);
  }
}

@media (width < 500px) {
  .bio, .outlinks ul  {
     font-size: 25px;
  }
 }
