<ul class="contact-links">
    <li>
        <a class="email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </li>
    <li>
        <a class="linkedin" href="{{ site.author.links.linkedin }}"  target="_blank">linkedin</a>
    </li>
    <li>
        <a class="socareers" href="{{ site.author.links.socareers }}" target="_blank">stackoverflow careers</a>
    </li>
    <li>
        <a class="github" href="{{ site.author.links.github }}"    target="_blank">github</a>
    </li>
    <li>
        <a class="twitter" href="{{ site.author.links.twitter }}"   target="_blank">twitter</a>
    </li>
</ul>

