html {
  font-size: 62.5%; }
  @media (max-width: 320px) {
    html {
      font-size: 45%; } }

hr {
  border: none;
  font-size: 2.0rem;
  letter-spacing: .3em;
  text-align: center; }
  hr:before {
    content: '.......................'; }

h1 {
  font-size: 6rem;
  margin: 0; }
  @media (max-width: 768px) {
    h1 h1 {
      font-size: 12rem; } }

h2 {
  font-size: 4rem;
  margin: .35em .75em; }
  @media (max-width: 320px) {
    h2 h2 {
      font-size: 1.8em; } }

h3 {
  font-size: 4rem; }

p {
  line-height: 2em; }

.container:after {
  clear: both; }

.sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .75em .3em;
  text-align: center;
  float: left;
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  width: 30%; }
  @media (max-width: 1140px) {
    .sidebar {
      display: none; } }
  .sidebar.fold {
    width: 5%; }
    .sidebar.fold h1,
    .sidebar.fold img,
    .sidebar.fold p,
    .sidebar.fold ul {
      display: none; }
  .sidebar .toggle {
    border: none;
    display: inline-block;
    float: left;
    text-align: center;
    width: 43px; }
  .sidebar h1 {
    margin: .3em 0; }
  .sidebar img {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    height: 5em;
    width: 5em; }
  .sidebar p {
    font-size: .6em; }
  .sidebar .social-links {
    margin: .3em; }

.topbar {
  height: 3em; }
  @media (min-width: 1140px) {
    .topbar {
      display: none; } }
  .topbar img, .topbar p, .topbar ul {
    display: none; }

.content {
  font-size: .75em;
  margin: 0 auto;
  padding: 1em; }
  .content.only {
    float: none;
    text-align: center; }
  @media (max-width: 1140px) {
    .content {
      float: none;
      text-align: center; } }
  @media (min-width: 1140px) {
    .content {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: right;
      text-align: center;
      width: 70%; } }

.stream {
  text-align: inherit; }
  .stream .title time {
    display: inline-block;
    font-size: .4em;
    vertical-align: middle; }
  .stream .tldr {
    margin: 0 2em;
    text-align: inherit; }

.container > footer {
  text-align: center;
  margin-top: 2.5em; }
  .container > footer p {
    margin: 0;
    padding: 1em 0; }

.social-links {
  margin: 0 auto;
  padding-left: 0;
  text-align: center; }
  .social-links li {
    display: inline;
    margin: .25em; }
    .social-links li a {
      font-size: 8rem; }

@media (max-width: 320px) {
  article {
    padding: .35em; } }
article header {
  text-align: center;
  margin-bottom: 1.5em; }
  article header .date {
    margin: 0; }
  article header .tldr {
    padding: .35em;
    display: inline-block; }
    article header .tldr:before {
      content: 'tl;dr: ';
      margin-right: .35em; }
article img {
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 80%; }
article .comments {
  margin-top: 2em; }
article p {
  text-align: justify; }

.highlight {
  padding: .35em .75em;
  text-align: left; }

blockquote {
  border-left-width: .1em;
  border-left-style: solid;
  padding: .5em 1em;
  margin-left: 0;
  margin-right: 0;
  quotes: "\201C" "\201D"; }
  blockquote:after {
    content: close-quote; }
  blockquote:before {
    content: open-quote;
    position: relative;
    left: 0;
    top: 0; }

.languages {
  padding: 0; }
  .languages li {
    display: inline; }

.useful-links {
  list-style: none; }
