html * {
  color-profile: sRGB; }

body {
  background: url(/images/bg.png) repeat scroll top left #eeeeee;
  font: lighter normal 3rem 'Open Sans', Verdana, sans-serif; }

a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  color: #b82a38;
  text-decoration: none; }
  a:hover, a:active {
    background-color: #b82a38;
    color: #fff; }

hr {
  color: #50a0a6; }

h1 a,
h2 a,
h3 a,
.social-links a {
  background-color: inherit;
  color: inherit; }
  h1 a:hover, h1 a:active, h1 a:focus,
  h2 a:hover,
  h2 a:active,
  h2 a:focus,
  h3 a:hover,
  h3 a:active,
  h3 a:focus,
  .social-links a:hover,
  .social-links a:active,
  .social-links a:focus {
    background-color: inherit;
    color: inherit;
    cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter; }

h1 {
  color: #fff; }

h3 {
  color: #461114; }

h2 a,
h3 a {
  color: #b82a38; }
  h2 a:hover,
  h3 a:hover {
    color: #b82a38;
    text-shadow: #b82a38 -0.05em 0.05em 0.15em; }

img a {
  background-color: inherit;
  color: inherit; }
  img a:hover, img a:active, img a:focus {
    background-color: inherit;
    color: inherit;
    cursor: pointer; }

p {
  line-height: 2em; }

strong {
  font-weight: normal; }

.sidebar {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

.sidebar,
.topbar {
  color: #333;
  background-color: #50a0a6; }
  .sidebar .avatar a,
  .topbar .avatar a {
    background-color: inherit;
    color: inherit; }
    .sidebar .avatar a:hover, .sidebar .avatar a:active, .sidebar .avatar a:focus,
    .topbar .avatar a:hover,
    .topbar .avatar a:active,
    .topbar .avatar a:focus {
      background-color: inherit;
      color: inherit;
      cursor: pointer; }
  .sidebar .toggle a,
  .topbar .toggle a {
    background-color: inherit;
    color: inherit; }
    .sidebar .toggle a:hover, .sidebar .toggle a:active, .sidebar .toggle a:focus,
    .topbar .toggle a:hover,
    .topbar .toggle a:active,
    .topbar .toggle a:focus {
      background-color: inherit;
      color: inherit;
      cursor: pointer; }
  .sidebar .toggle a,
  .topbar .toggle a {
    color: #b82a38; }
    .sidebar .toggle a:hover,
    .topbar .toggle a:hover {
      color: #b82a38;
      text-shadow: #b82a38 -0.05em 0.05em 0.15em; }

.social-links li {
  -webkit-font-smoothing: antialiased; }
.social-links .feed {
  font-family: 'Entypo'; }
  .social-links .feed a:hover {
    color: #f50; }
.social-links .mail {
  font-family: 'Entypo'; }
  .social-links .mail a:hover {
    color: #b82a38; }
.social-links .github {
  font-family: 'Entypo Social'; }
  .social-links .github a:hover {
    color: #286da3; }
.social-links .linkedin {
  font-family: 'Entypo Social'; }
  .social-links .linkedin a:hover {
    color: #015a86; }
.social-links .twitter {
  font-family: 'Entypo Social'; }
  .social-links .twitter a:hover {
    color: #2eb8e7; }

article header .tldr {
  background-color: #bdc;
  color: #555; }

.highlight {
  background-color: #fff; }

code {
  font-family: Inconsolata, Monaco, Menlo, monospace, serif; }

blockquote {
  border-left-color: #50a0a6;
  color: #999; }
