<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container">
      {% include header.html %}

      <section class="content">
        {{ content }}
      </section>
    </div>

    {% include analytics.html %}

    <script type="text/javascript">{% include fs.js %}</script>
    {% comment %} <script type="text/javascript" src="/scripts/fs.js"></script> {% endcomment %}
  </body>
</html>
